<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>index-oscuro</title>
</head>
<body>
    <header>
        <h1>MUNDO RETRO DE 8 BITS</h1>
        <a href="index-iluminado.html">
            <button class="button-iluminacion"></button>
        </a>
    </header>

    <section class="inicio">

        <section class="medio">
            <div class="texto">
                <h3>“Prepárate para una experiencia que combina nostalgia y diversión. 
                    Redescubre la magia de los 8 bits con nosotros y lleva tu pasión por lo retro al siguiente nivel.”</h3>
            </div>
            <div class="button-videojuegos">
                <a href="videojuegos.html">
                    <button><h3>Videojuegos clasicos</h3></button>
                </a>
            </div>
            <div class="button-ordenadores">
                <a href="ordenadores.html">
                    <button><h3>Ordenadores retro</h3></button>
                </a>
            </div>
        </section>

        <section class="lado-izquierdo">
            <div class="kirby"></div>
            <div class="mundoMario"></div>
            <div class="donkeyKong"></div>
            <div class="mario"></div>
        </section>

        <section class="lado-derecho">
            <div class="autos"></div>
            <div class="pelea"></div>
        </section>
        
    </section>

    <footer>
        <h2>By_NataliaSoria_CristianRoca</h2>
    </footer>

</body>
</html>