<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordenadores Retro</title>
    <link rel="stylesheet" href="../static/css/ordenadores.css">
</head>
<body>
    <header>
        <nav>
            <a href="index.html" class="inicio">Inicio</a>
        </nav>
        <h1 class="titulo">Ordenadores Retro</h1>
    </header>
        
    <main class="contenido">
        <section class="columna izquierda">
            <div class="item">
                <img src="../static/images/commodore.png" alt="Commodore 64">
            </div>
            <div class="item">
                <img src="../static/images/zx_Spectrum.png" alt="ZX Spectrum">
                <p>ZX Spectrum</p>
            </div>
        </section>

        <section class="descripcion">
            <p>
                Los ordenadores retro, populares durante las décadas de 1980 y 1990, 
                fueron fundamentales para el desarrollo de la informática personal y los videojuegos. 
                Estos equipos no solo fueron una ventana a la programación y los juegos, 
                sino que también marcaron el inicio de la cultura digital tal como la conocemos hoy.
            </p>
        </section>

        <section class="columna derecha">
            <div class="item">
                <img src="../static/images/IBM.png" alt="IBM PC (5150)">
                <p>IBM PC (5150)</p>
            </div>
            <div class="item">
                <img src="../static/images/Atari St.png" alt="Atari ST">
                <p>Atari ST</p>
            </div>
            <div class="item">
                <img src="../static/images/Tandy.png" alt="Tandy TRS-80">
                <p>Tandy TRS-80</p>
            </div>
        </section>
    </main>

    <footer>
        <h3>By_NataliaSoria_CristianRoca</h3>
    </footer>

</body>
</html>